<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Index</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.css"/>
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Region Id</th>
            <th scope="col">Region Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${regions}">
            <td><a th:href="'/region/update/'+${c.getRegionId()}" th:text="${c.getRegionId()}"></a></td>
            <td th:text="${c.getRegionName()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>